.home_carousel{
    img{
        width: 100%;
    }

    .carousel-indicators{
        button{
            width: 100px;
            height: 3px;
            border-radius: 99px;
            background-clip: unset;
            border-top: none;
            border-bottom: none;
            border:2px solid transparent;
        }
    }

    .carousel-control-prev,.carousel-control-next{
        background: #FCFCFCBF;
        width: 48px;
        top: 50%;
        border-radius: 50%;
        opacity: 1;
        margin: 0 10px;
        height: 48px;
        transform: translateY(-50%);
        .carousel-control-next-icon, .carousel-control-prev-icon{
            width: 20px;
            height: 20px;
        }
    }
}

.home_mobile_carousel{
    @media screen and (max-width: 576px) {
        // margin-top: 20px ;
      }
    img{
        border-radius: 20px;
        width: 100%;
    }
}

.top_picks_carousel{
    @media screen and (max-width: 576px) {
        margin-top: 0px ;
      }
}

.track_indicators{
    margin-top: 10px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    .indicator{
        background: rgba(231, 232, 233, 1);
        width: 7px;
        height: 7px;
        margin-right: 7px;
        border-radius: 20px;
    }
}

  
  .indicator[data-isOpen="true"] {
    width: 35px;
    background: var(--primary_color);
  }
  

